body {
    background-color: #f8f9fa;
}

.chat-box {
    height: 500px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #ffffff;
    padding: 10px;
    overflow-y: auto;
    
}

.chat-message {
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 80%;
}

.chat-message.user {
    background-color: #007bff;
    color: #ffffff;
    align-self: flex-end;
    margin-left: auto;
}
.clickable-div {
    width: 100%;
    padding: 15px;
    background-color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
a:hover {
    color: darkblue;
    text-decoration: none;
  }
.clickable-div {
    cursor: pointer;
    padding: 10px;
  }
  
  .clickable-div.active {
    background-color: #007bff;
    color: white;
  }
.clicked {
    background-color: #ada9a9;
}
  
.chat-message.bot {
    background-color: #e9ecef;
    color: #212529;
    align-self: flex-start;
    margin-right: auto;
}

.friends-list {
    border-right: 1px solid #ced4da;
    height: 100vh;
    padding: 10px;
}

.friend-item {
    padding: 10px;
    border-bottom: 1px solid #ced4da;
}

/* Globálisan tiltjuk a vízszintes görgetést */
body, html {
  overflow-x: hidden;
}

/* Chat-box magasság beállítása iPhone SE mérethez vagy hasonlóhoz */
@media (max-width: 375px) {
  .chat-box {
    max-height: 80vh; /* vagy 85vh, hogy ne lógjon ki */
    overflow-y: auto;
  }
}